<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" 
href="https://fonts.lug.ustc.edu.cn/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	
	
    <link rel="stylesheet" href="http://dieday.cn/disqus-php-api-master/dist/iDisqus.min.css" />
    <script src="http://dieday.cn/disqus-php-api-master/dist/iDisqus.min.js"></script>

	
	
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25116838-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-25116838-1');
</script>

	
	
<div id="comment"></div>
<script>
var disq = new iDisqus('comment', {
forum: 'diedayblog-1',
api: 'http://dieday.cn/disqus-php-api-master/api',
site: 'http://dieday.cn',
mode: 1,
timeout: 3000,
init: true
});
</script>
	
	

<div id="comments">
  <div class="message_it">墙内环境访问Disqus出现任何问题概不负责，请自备梯子解决。

  </div>
  <div title="圆点在左侧为墙内环境，圆点在右侧为墙外环境。" class="comment-toggle-div">
    <input id="comment-toggle" type="checkbox" value="1" name=""/>

    <label for="comment-toggle"></label>

  </div>
<div id="comment"></div>

</div>



      </main>

      <footer>© 2005-2020 当下. Designed by
<a href="https://blog.fueis.com" target="_blank">小F</a>
, Coded by
<a href="https://blog.shuiba.co" target="_blank">Shuibaco</a>
, Powered by
<a href="https://bitcron.com" target="_blank">Bitcron</a>
.

      </footer>

<style type="text/css">a.back_to_top {
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    background: #f0f0f0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    transition-duration: .5s;
    transition-propety: background-color;
    display: none;
}

a.back_to_top span {
    color: #888;
}

a.back_to_top:hover {
    cursor: pointer;
    background: #dfdfdf;
}

a.back_to_top:hover span {
    color: #555;
}

@media print, screen and (max-width: 580px) {
    .back_to_top {
        display: none !important;
    }
}



</style><a id="back_to_top" href="#" class="back_to_top"><span>▲</span>
</a>


<script>$(document).ready((function(_this) {
  return function() {
    var bt;
    bt = $('#back_to_top');
    if ($(document).width() > 480) {
      $(window).scroll(function() {
        var st;
        st = $(window).scrollTop();
        if (st > 30) {
          return bt.css('display', 'block');
        } else {
          return bt.css('display', 'none');
        }
      });
      return bt.click(function() {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    }
  };
})(this));
</script>
<script type="text/javascript" src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script><link href="//fueis.com/js/lightbox2/lightbox.css" type="text/css" rel="stylesheet"/><script type="text/javascript" src="//fueis.com/js/lightbox2/lightbox.js"></script><script type="text/javascript" src="/template/f/style.js"></script>
    </div>

  
<script>
var disq = new iDisqus('comment', {
    forum: 'effiezhu',
    api: 'http://dieday.cn/disqus-php-api-master/api',
    site: 'http://dieday.cn',
    mode: 3,
    timeout: 3000,
    init: true,
    toggle: "comment-toggle"
});
disq.count();
</script>	
	
	
	
	
	
	
	
		
</body>


	
<div class="foote">
	
    <a href="http://leiminnet.cn/blog/admin">&copy;</a> 2015 - 2020 <a href="http://leiminnet.cn/blog/">印|纪 - Lexus 生活博客</a>

	 - Powered by <a href="http://www.typecho.org">Typecho</a> - Theme by
<a href="http://leiminnet.cn"> Lexus - </a>     
<a href="http://leiminnet.cn/blog/index.php/feed/">点此订阅本站RSS</a>
</div>
		

</html>
