<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" 
href="https://fonts.lug.ustc.edu.cn/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	
	
    <link rel="stylesheet" href="http://dieday.cn/disqus-php-api-master/dist/iDisqus.min.css" />
    <script src="http://dieday.cn/disqus-php-api-master/dist/iDisqus.min.js"></script>

	
	
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25116838-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-25116838-1');
</script>

	
	
<div id="comment"></div>
<script>
var disq = new iDisqus('comment', {
forum: 'diedayblog-1',
api: 'http://dieday.cn/disqus-php-api-master/api',
site: 'http://dieday.cn',
mode: 1,
timeout: 3000,
init: true
});
</script>
	
	

<div id="comments">
  <div class="message_it">墙内环境访问Disqus出现任何问题概不负责，请自备梯子解决。
  </div>
  <div title="圆点在左侧为墙内环境，圆点在右侧为墙外环境。" class="comment-toggle-div">
    <input id="comment-toggle" type="checkbox" value="1" name=""/>
    <label for="comment-toggle"></label>
  </div>
<div id="comment"></div>
</div>
      </main>
      <footer>© 2005-2020 当下. Designed by
<a href="https://blog.fueis.com" target="_blank">小F</a>
, Coded by
<a href="https://blog.shuiba.co" target="_blank">Shuibaco</a>
, Powered by
<a href="https://bitcron.com" target="_blank">Bitcron</a>
.

      </footer>

  
	
		
</body>	
</html>
